* {
  margin: 0;
  padding: 0;
}
/* Home Page CSS Section, will improve once full functionality confirmed. */
.main-page-container {
  margin: 0 2em;
  background: linear-gradient(to right bottom,#FCD9DF, #CFE0F8);
  height: 250vh;
  width: 100%;
}

.home-navbar {
  display: flex;
  flex-direction: row; 
  align-items: center;
  margin: 0 2em;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.nav-list > li {
  padding: 20px;
}

.inner-body-container {
  margin: 2em 2em 0 2em;
}

.subheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 3em;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 2em 0;
}

td, th {
  border: 1px solid;
  padding: 8px;
}

td {
  border:none;
}

.table-head > tr {
  background-color: rgb(133, 153, 233);
  color: white;
}

.table-body > tr {
  padding: 12px;
  background-color: white;
}

.delete-icon {
  cursor: pointer;
  color: red;
}

/* end of Homepage CSS section */