@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,300&family=Rubik:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
/* Home Page CSS Section, will improve once full functionality confirmed. */
.main-page-container {
  background: linear-gradient(to right bottom,#FCD9DF, #CFE0F8);
  height: 250vh;
  width: 100%;
}

.main-logo {
  font-family: Rubik;
  font-weight: 600;
  cursor: pointer;
  font-size: 30px;
}

.main-logo:hover {
  background: -webkit-linear-gradient(360deg, #ee4d5f, #60b6e5, #42E695);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-navbar {
  display: flex;
  flex-direction: row; 
  align-items: center;
  margin: 0 2em;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  font-family: DM Sans;
  cursor: pointer;
}

.nav-list > li {
  padding: 20px;
}

.logout-btn {
  background: linear-gradient(to bottom left, #FF6CAB,#7366ff);
  border-radius: 20px;
  border: none;
  color: #ffff;
  width: 6em;
  height: 35px;
}

.logout-btn:hover {
  box-shadow: 0 0 15px #F869D5;
}

.underline {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline:hover:after { 
  width: 100%; 
  left: 0; 
}

.post-review-btn {
  background: linear-gradient(to bottom right, #F869D5,#5650DE);
  border-radius: 20px;
  border: none;
  color: #ffff;
  width: 150px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-family: DM Sans;
}

.post-review-btn:hover{
  box-shadow: 0 0 15px #5650DE;
}

.inner-body-container {
  margin: 2em 2em 0 2em;
}

.subheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 3em;
  /* margin: 0 33em 0 33em; <--- might add this if i add a sidebar.*/
}

.review-list-container {
  margin: 0 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  display: flex;
  align-items: center;
  background: #FFFF;
  border-radius: 10px;
  width: 58em;
}

.inner-review {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 55em;
  /* justify-content: space-evenly; */
}

.profile-cont {
  width: 80px;
  margin-right: 2em;
}

.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 40px;
}

.emphasize-text {
  font-weight: 600;
}

.out-of {
  color: #59577d57;
}

.review-top-section {
  display: flex;
  justify-content: space-between;
  height: 2em;
  font-family: DM Sans;
  font-size: 18px;
  width: 40em;
}

.creator-title {
  width:20em;
  font-family: DM Sans;
  font-weight: 600;
}

.actions-cont {
  width: 10em;
  /* margin-left: 470px; */
}

.comments {
  font-weight: 400;
  font-family: DM Sans;
  color: #54526e;
}

.delete-icon {
  height: 40px;
  color: red;
  cursor: pointer;
}
/* end of Homepage CSS section */

/* LOGIN PAGE */

.login-bg {
  background-image: url('./assets/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  box-shadow: 0 0 50em 10px rgb(0, 0, 0) inset;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.login-container {
  font-family: DM Sans;
}

.login-btn {
  background: #000000b8;
  border: none;
  border-radius: 20px;
  color: #FFFF;
  height: 40px;
  width: 100px;
}

.login-btn:hover {
  box-shadow: 0 0 20px #ffff;
}

.right {
  right: 0;
  background: rgba(144, 128, 106, 0.63);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(229, 198, 154, 0.3);
  color: #ffff;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Registration Page CSS */
.reg-bg {
  background-image: url('./assets/registration-bg.jpeg');
  background-position: 92% 0;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.reg-left {
  left: 0;
}

/* Control the right side */
.reg-right {
  right: 0;
  background: linear-gradient(to bottom right, #80A4CB, #cce0f3);
}

.sign-up-btn {
  /* background: linear-gradient(to top left, #A32CDF, #106AD2); */
  background: #415771;
  border: none;
  border-radius: 20px;
  color: #FFFF;
  height: 40px;
  width: 100px;
}

.sign-up-btn:hover {
  box-shadow: 0 0 20px #ffff;
}

/* Edit Container */

.update-nav {
  width: 100%;
  margin: 1em 4em;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.update-home-btn {
  font-size: 15px;
  height: 35px;
  width: 70px;
  margin: 0 1em 0 0;
  color: #FFFF;
  align-items: center;
  justify-content: center;
  background: #707984c0;
  border-radius: 20px;
  text-decoration: none;
}

.update-container {
  background-image: url('./assets/background-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.form-container {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: DM Sans;
}

/* create page */
.create-container {
  background-image: url('./assets/skyrim-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.rating-container {
  width: 10em;
}

.comment-section {
  width: 25em;
}